<?xml version='1.0' encoding='utf-8'?>
<widget id="com.cordova.canvas.screenshot" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>[SCREENSHOT] Canvas</name>
    <description>
        A simple handwriting note with easy save function.
    </description>
    <author email="yokobang99@gmail.com" href="https://github.com/kuroemon2509">
        Ichisada Shioko
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="com.darktalker.cordova.screenshot" spec="https://github.com/gitawego/cordova-screenshot.git" />
    <preference name="CrosswalkAnimatable" value="true" />
    <preference name="Orientation" value="portrait" />
    <preference name="fullscreen" value="true" />
    <engine name="android" spec="^7.1.4" />
</widget>
